* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 900px;
}

h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.hidden {
    display: none;
}

#players {
    margin-bottom: 20px;
}

#players label {
    margin-right: 10px;
}

#players input {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
}

#dice {
    margin-bottom: 20px;
}

#dice h2 {
    font-size: 20px;
    color: #555;
}

#dice p {
    font-size: 18px;
}

#dice-result {
    font-weight: bold;
    margin-top: 10px;
}

#dice-animation {
    font-size: 48px;
    margin-top: 20px;
    animation: roll 0.6s infinite;
    opacity: 0;
}

@keyframes roll {
    0% { transform: rotate(0); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

#dice-animation.hidden {
    opacity: 0;
}

#dice-animation.visible {
    opacity: 1;
}

#current-player {
    font-weight: bold;
    color: #3498db;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(16, 80px);
    grid-template-rows: repeat(4, 80px);
    gap: 20px;
    justify-content: center;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #3498db;
    border-radius: 12px;
    font-size: 18px;
    color: #333;
    text-align: center;
    padding: 20px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Définition des couleurs pour les cases */
.cell.special-yellow {
    background-color: #fac216; /* Couleur jaune */
}

.cell.special-purple {
    background-color: #7439d1; /* Couleur violette */
    color: #ffffff;
}

.cell.special-blue {
    background-color: #3743ca; /* Couleur bleue */
    color: #ffffff;
}

.cell.default {
    background-color: #8bd9ff; /* Couleur par défaut */
}

.pion {
    position: absolute;
    font-size: 24px;
    z-index: 10;
}

@media (max-width: 768px) {
    .game-board {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 120px);
    }
}

#players label {
    margin-right: 10px;
}

#players input {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
}

.pion-icon {
    font-size: 24px;
    margin-right: 10px;
    vertical-align: middle;
}

#current-pion {
    font-size: 24px;
    vertical-align: middle;
    margin-left: 10px;
}